* 
    font-family: 'Poppins', sans-serif

.navbar
    height: 80px
    padding: 0px 200px 0 108px
    background-color: #000
    .btn
        font-weight: 500
        font-size: 14px
        line-height: 14px
        letter-spacing: 0.3px
        color: #FFFFFF
    .btn-outline-success
        margin-left: 80px
        width: 166px
        height: 40px
        background: #121212
        border: 1px solid rgba(255, 2555, 2555, 0.3)
        border-radius: 5px
    .navbar-brand
        padding: 0px
        margin: 0px
.navbar-nav
    .nav-item
        .nav-link
            padding: 0 0 0 40px
            font-style: normal
            font-weight: 500
            font-size: 14px
            letter-spacing: 0.3px
            color: #FFFFFF
            text-decoration: none
.promo
    padding-left: 108px
    height: 580px
    background: #121212
    h1
        padding: 100px 40px 0 0
        font-weight: 500
        font-size: 70px
        line-height: 80px
        color: #FFFFFF
    h2 
        margin-top: 32px
        font-weight: 400
        font-size: 16px
        line-height: 26px
        letter-spacing: 0.3px
        color: #949494
    .btn-primary
        margin-top: 32px
        width: 200px
        height: 50px
        background: linear-gradient(266.42deg, #5C80FF 0%, #1A52E4 100%)
        border-radius: 5px
        border: 0px
        font-weight: 600
        font-size: 16px
        line-height: 16px
        letter-spacing: 0.3px
        text-decoration-line: underline
        color: #FFFFFF
    &_menu
        position: absolute
        top: 61px
        right: 384px
        padding: 28px
        width: 281px
        height: 246px
        background: #FFFFFF
        border-radius: 8px
        h3
            font-weight: 500
            font-size: 15px
            line-height: 23px
            letter-spacing: 0.3px
            color: #000000
        &_text
            margin-top: 24px
            font-weight: 400
            font-size: 12px
            line-height: 21px
            letter-spacing: 0.3px
            color: #000000
        &_line
            margin-top: 5px
            width: 225px
            height: 5px
            background: #D9D9D9
            border-radius: 200px
        &_item
            position: relative
        &_point
            position: absolute
            right: 0px
            top: 7px
            font-weight: 300
            font-size: 10px
            line-height: 20px
            letter-spacing: 0.3px
            color: #949494
    &_img_woman
        position: relative
        img
            display: block
            position: absolute
            right: 80px
            top: 70px
            width: 336px
    &_img_dot
        position: relative
        img
            display: block
            position: absolute
            right: 580px
            top: 220px
.promo_box_menu
    position: relative
.info
    padding: 50px 0 0 108px
    h2
        padding-top: 70px
        font-weight: 600
        font-size: 40px
        line-height: 50px
        letter-spacing: 0.3px
        color: #000000
    h3
        margin-top: 32px
        font-weight: 400
        font-size: 18px
        line-height: 30px
        letter-spacing: 0.35px
        color: #000000
    &_user
        margin-top: 32px
        display: flex
        flex-direction: row
        align-items: center
        align-content: center
        &_descr
            margin-left: 13px
            &_name
                font-weight: 500
                font-size: 14px
                line-height: 14px
                letter-spacing: 0.3px
                color: #000000
            &_position
                font-weight: 400
                font-size: 12px
                line-height: 12px
                letter-spacing: 0.5px
                color: #949494
    &_percent
        position: relative
        display: flex
        flex-direction: row
        border-top: 1px solid rgba(0, 0, 0, 0.3)
        padding-top: 40px
        margin-top: 40px
        justify-content: space-between
        &_item
            &_number
                font-weight: 600
                font-size: 36px
                line-height: 36px
                color: #000000
            &_descr
                margin-top: 12px
                font-weight: 400
                font-size: 14px
                line-height: 14px
                letter-spacing: 0.5px
                color: #979797
    &_bg
        position: absolute
        top: 831px
        right: 0px
        width: 678px
        height: 685px
        background: #80B1DE
        opacity: 0.09
        z-index: -2
    &_dot_white
        position: absolute
        top: 1310px
        right: 675px
        z-index: -1
    &_leftside
        &_box
            display: flex
            flex-direction: row
            flex-wrap: wrap
            padding-left: 130px      
            &_wrap
                margin: 30px 30px 0 0 
                width: 307px
                height: 316px
                background-color: #fff
                padding: 42px 40px 50px 40px
                border-top: 3px solid rgba(95, 52, 187, 1)
                box-shadow: 0px 4px 50px rgba(34, 47, 62, 0.1)    
                &:nth-last-child(2)
                    border-top: 3px solid rgba(34, 47, 62, 1)
                &:nth-last-child(3)
                    border-top: 3px solid rgba(69, 204, 82, 1)
                &:nth-last-child(4)
                    border-top: 3px solid rgba(31, 242, 255, 1)
                &_head
                    margin-top: 42px
                    font-weight: 600
                    font-size: 24px
                    line-height: 34px
                    letter-spacing: 0.3px
                    color: #000000
                &_descr
                    margin-top: 12px
                    font-weight: 400
                    font-size: 14px
                    line-height: 24px
                    letter-spacing: 0.5px
                    color: #000000



            

    