* 
    font-family: 'Poppins', sans-serif

nav
    height: 80px
    background: #000000
    padding: 20px 200px 20px 120px
.nav_left
    display: flex
    flex-direction: row
    align-items: center
    &_link
        margin: 0px
        padding: 0px

.nav_link_btn
    padding-left: 40px
    font-style: normal
    font-weight: 500
    font-size: 14px
    letter-spacing: 0.3px
    color: #FFFFFF
    text-decoration: none

.nav_right
    
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    &_link
        margin: 0px
        padding: 0px
    &_btn
        margin-left: 110px
        box-sizing: border-box
        width: 166px
        height: 40px
        background: #121212
        border: 1px solid rgba(255, 255, 255, 0.5)
        border-radius: 5px
        font-weight: 500
        font-size: 14px
        line-height: 14px
        letter-spacing: 0.3px
        color: #FFFFFF

.promo
    padding-left: 120px
    height: 580px
    background: #121212
    h1
        padding: 100px 40px 0 0
        font-weight: 500
        font-size: 70px
        line-height: 80px
        color: #FFFFFF
    &_img_woman
        position: relative
        img
            display: block
            position: absolute
            right: 80px
            top: 70px
            

    