* 
    font-family: 'Poppins', sans-serif

.navbar
    height: 80px
    padding: 0px 200px 0 108px
    background-color: #000
    .btn
        font-weight: 500
        font-size: 14px
        line-height: 14px
        letter-spacing: 0.3px
        color: #FFFFFF
    .btn-outline-success
        margin-left: 80px
        width: 166px
        height: 40px
        background: #121212
        border: 1px solid rgba(255, 2555, 2555, 0.3)
        border-radius: 5px
    .navbar-brand
        padding: 0px
        margin: 0px
.navbar-nav
    .nav-item
        .nav-link
            padding: 0 0 0 40px
            font-style: normal
            font-weight: 500
            font-size: 14px
            letter-spacing: 0.3px
            color: #FFFFFF
            text-decoration: none
.promo
    padding-left: 108px
    height: 580px
    background: #121212
    h1
        padding: 100px 40px 0 0
        font-weight: 500
        font-size: 70px
        line-height: 80px
        color: #FFFFFF
    h2 
        margin-top: 32px
        font-weight: 400
        font-size: 16px
        line-height: 26px
        letter-spacing: 0.3px
        color: #949494
    .btn-primary
        margin-top: 32px
        width: 200px
        height: 50px
        background: linear-gradient(266.42deg, #5C80FF 0%, #1A52E4 100%)
        border-radius: 5px
        border: 0px
        font-weight: 600
        font-size: 16px
        line-height: 16px
        letter-spacing: 0.3px
        text-decoration-line: underline
        color: #FFFFFF
    &_menu
        position: absolute
        top: 130px
        right: 384px
        padding: 28px
        width: 281px
        height: 246px
        background: #FFFFFF
        border-radius: 8px
        h3
            font-weight: 500
            font-size: 15px
            line-height: 23px
            letter-spacing: 0.3px
            color: #000000
        &_text
            margin-top: 24px
            font-weight: 400
            font-size: 12px
            line-height: 21px
            letter-spacing: 0.3px
            color: #000000
        &_line
            margin-top: 5px
            width: 225px
            height: 5px
            background: #D9D9D9
            border-radius: 200px
        &_item
            position: relative
        &_point
            position: absolute
            right: 0px
            top: 7px
            font-weight: 300
            font-size: 10px
            line-height: 20px
            letter-spacing: 0.3px
            color: #949494
    &_img_woman
        position: relative
        img
            display: block
            position: absolute
            right: 80px
            top: 70px
            width: 336px
    &_img_dot
        position: relative
        img
            display: block
            position: absolute
            right: 580px
            top: 220px
.info
    margin-bottom: 270px
    position: relative
    padding: 50px 0 0 108px
    h2
        padding-top: 70px
        font-weight: 600
        font-size: 40px
        line-height: 50px
        letter-spacing: 0.3px
        color: #000000
    h3
        margin-top: 32px
        font-weight: 400
        font-size: 18px
        line-height: 30px
        letter-spacing: 0.35px
        color: #000000
    &_user
        margin-top: 32px
        display: flex
        flex-direction: row
        align-items: center
        align-content: center
        &_descr
            margin-left: 13px
            &_name
                font-weight: 500
                font-size: 14px
                line-height: 14px
                letter-spacing: 0.3px
                color: #000000
            &_position
                font-weight: 400
                font-size: 12px
                line-height: 12px
                letter-spacing: 0.5px
                color: #949494
    &_percent
        position: relative
        display: flex
        flex-direction: row
        border-top: 1px solid rgba(0, 0, 0, 0.3)
        padding-top: 40px
        margin-top: 40px
        justify-content: space-between
        &_item
            &_number
                font-weight: 600
                font-size: 36px
                line-height: 36px
                color: #000000
            &_descr
                margin-top: 12px
                font-weight: 400
                font-size: 14px
                line-height: 14px
                letter-spacing: 0.5px
                color: #979797
    &_bg
        position: absolute
        top: 171px
        right: 0px
        width: 678px
        height: 685px
        background: #80B1DE
        opacity: 0.09
        z-index: -2
    &_dot_white
        position: absolute
        top: 641px
        right: 675px
        z-index: -1
    &_leftside
        &_box
            display: flex
            flex-direction: row
            flex-wrap: wrap
            padding-left: 130px      
            &_wrap
                margin: 30px 30px 0 0 
                width: 307px
                height: 316px
                background-color: #fff
                padding: 42px 40px 50px 40px
                border-top: 3px solid rgba(95, 52, 187, 1)
                box-shadow: 0px 4px 50px rgba(34, 47, 62, 0.1)    
                &:nth-child(3)
                    border-top: 3px solid rgba(34, 47, 62, 1)
                &:nth-child(2)
                    border-top: 3px solid rgba(69, 204, 82, 1)
                &:nth-child(4)
                    border-top: 3px solid rgba(31, 242, 255, 1)
                &_head
                    margin-top: 42px
                    font-weight: 600
                    font-size: 24px
                    line-height: 34px
                    letter-spacing: 0.3px
                    color: #000000
                &_descr
                    margin-top: 12px
                    font-weight: 400
                    font-size: 14px
                    line-height: 24px
                    letter-spacing: 0.5px
                    color: #000000
.task
    position: relative
    &_box_bg
        position: absolute
        top: 190px
        width: 610px
        height: 392px
        background: #80B1DE
        opacity: 0.09
        z-index: -1
    &_box_dot_white
        position: absolute
        top: 540px
        left: 414px
    &_project
        position: absolute
        left: 52px
        top: 270px
        padding: 28px
        width: 408px
        height: 332px
        background: #FFFFFF
        box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15)
        border-radius: 8px
        &_head
            font-weight: 500
            font-size: 18px
            line-height: 27px
            letter-spacing: 0.3px
            text-decoration-line: underline
            color: #121212
        &_subhead
            margin-top: 9px
            font-weight: 400
            font-size: 12px
            line-height: 12px
            letter-spacing: 0.3px
            text-decoration-line: underline
            color: #121212
            
            .subhead_text
                margin-left: 10px
                opacity: 0.5
        &_descr
            margin-top: 22px
            font-weight: 400
            font-size: 13px
            line-height: 21px
            letter-spacing: 0.5px
            text-decoration-line: underline
            color: #121212
            opacity: 0.9
        &_percent_box
            margin-top: 20px
            font-weight: 500
            font-size: 13px
            line-height: 20px
            letter-spacing: 0.3px
            text-decoration-line: underline
            color: #121212
        &_line
            margin-top: 28px
            height: 5px
            background: #34A770
            opacity: 0.1
            border-radius: 200px
        &_ava_box1
            position: relative
            margin-top: 5px
        &_ava
            position: relative
            width: 36px
            height: 36px
            border-radius: 100%
            border: 1px solid #fff
            overflow: hidden
        &_ava1
            position: absolute
            left: 0px
            top: 0px
            z-index: 2
        &_ava2
            position: absolute
            left: 30px
            top: 0px
            z-index: 1
        &_ava3
            position: absolute
            left: 60px
            top: 0px
        .icon_ava
            position: absolute
            width: 36px
            height: 36px
            left: -2px
        &_ava_text
            position: absolute
            top: 7px
            left: 95px
            margin-left: 6px
            a
                ont-weight: 400
                font-size: 12px
                line-height: 18px
                letter-spacing: 0.5px
                text-decoration-line: underline
                color: #121212
                opacity: 0.7
        &_roundbtn
            position: absolute
            top: 9px
            right: 0px
            width: 26px
            height: 26px
            border: 1px dashed #C9C9C9
            border-radius: 100%
            font-weight: 500
            font-size: 14px
            line-height: 14px
            display: flex
            align-items: center
            justify-content: center
            letter-spacing: 0.3px
            color: #C9C9C9
    &_percent
        padding: 12px 28px
        position: absolute
        left: 385px
        width: 319px
        height: 340px
        background-color: #fff
        border-radius: 8px
        box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15)
        &_head
            font-weight: 500
            font-size: 15px
            line-height: 23px
            letter-spacing: 0.3px
            text-decoration-line: underline
            color: #121212
        &_subhead
            margin-top: 12px
            font-weight: 400
            font-size: 12px
            line-height: 12px
            letter-spacing: 0.3px
            text-decoration-line: underline
            color: #41475E
            mix-blend-mode: normal
            opacity: 0.5
        &_round
            margin: 64px auto
            padding-top: 43px
            width: 168px
            height: 168px
            border: 5px solid rgba(236, 243, 254, 1)
            border-radius: 100%
        &_number
            font-weight: 600
            font-size: 32px
            line-height: 32px
            text-decoration-line: underline
            color: #33AC72
        &_descr
            margin-top: 5px
            font-weight: 400
            font-size: 12px
            line-height: 12px
            letter-spacing: 0.3px
            text-decoration-line: underline
            color: #121212
            opacity: 0.5
.accordion
    margin-right: 80px
.head_accordion
    margin-bottom: 30px
    font-weight: 600
    font-size: 40px
    line-height: 50px
    letter-spacing: 0.3px
    color: #000000
.accordion-item
    border: 0px
.accordion-button:not(.collapsed)
    background-color: #fff
    color: #000000
    box-shadow: none
.accordion-button
    font-weight: 600
    font-size: 24px
    line-height: 24px
    letter-spacing: 0.3px
    color: #000000
.accordion-header-number
    margin-right: 36px
    font-weight: 600
    font-size: 20px
    line-height: 24px
    color: #A8A8A8
.accordion-body
    padding: 0 130px 0 80px
    font-weight: 400
    font-size: 14px
    line-height: 24px
    letter-spacing: 0.3px
    color: #949494
.accordion-button:not(.collapsed)::after
    background-image: url("../icons/acc_btn.svg")
.accordion-button::after
    background-image: url("../icons/acc_btn.svg")
.accordion-body-bLink
    margin-top: 16px
    padding-left: 80px
.accordion-body-bLink-text
    margin-right: 8px
.accordion-body-bLink-icon
    transform: rotate(-90deg)
    img
        width: 16px
.feedback
    position: relative
    padding-top: 270px
    &_head
        padding-left: 111px
        font-weight: 600
        font-size: 40px
        line-height: 50px
        letter-spacing: 0.3px
        color: #000000
    &_bg
        position: absolute
        width: 1320px
        height: 350px
        background: rgba(244, 247, 251, 1) 
        left: 0
        top: 430px
        z-index: -2
    &_itembox
        &_borderbox
            position: absolute
            width: 420px
            height: 360px
            left: 130px
            top:138px
            border: 1px solid #000000
            z-index: -1
        &_video
            padding-top: 128px
            padding-left: 120px
    &_itembox_descr
        &_text
            margin-right: 180px
            margin-left: 20px
            margin-top: 148px
            font-weight: 400
            font-size: 25px
            line-height: 40px
            letter-spacing: 0.5px
            color: #000000
        &_name
            padding-left: 100px
            margin-top: 134px
            font-weight: 500
            font-size: 20px
            line-height: 20px
            letter-spacing: 0.5px
            color: #000000
        &_position
            padding-left: 100px
            margin-top: 12px
            font-weight: 400
            font-size: 16px
            line-height: 16px
            letter-spacing: 0.5px
            color: #949494
.carousel-control-prev
    top: 300px
    right: 176px
    left: unset
    transform: rotate(90deg)
.carousel-control-next
    top: 300px
    right: 120px
    transform: rotate(-90deg)
.carousel-control-prev-icon 
    background-image: url("../icons/acc_btn.svg")
.carousel-control-next-icon 
    background-image: url("../icons/acc_btn.svg")
.carousel-inner
    height: 600px
footer
    position: relative
    background-color: #333333
    padding: 0 120px
    height: 586px
    h2
        padding-top: 84px
        font-weight: 400
        font-size: 40px
        line-height: 50px
        letter-spacing: 0.3px
        color: #fff
    .btn-primary
        margin-top: 150px
        width: 200px
        height: 50px
        background: linear-gradient(266.42deg, #5C80FF 0%, #1A52E4 100%)
        border-radius: 5px
        border: 0px
        font-weight: 600
        font-size: 16px
        line-height: 16px
        letter-spacing: 0.3px
        text-decoration-line: none
        color: #FFFFFF
    .footer_btn_descr
        margin-top: 150px
        margin-left: 34px
        font-weight: 600
        font-size: 16px
        line-height: 16px
        letter-spacing: 0.3px
        color: #FFFFFF
    .footer_round_head
        position: absolute
        right: 0px
    .footer_line
        margin-top: 59px
        height: 2px
        border: 1px solid rgba(255, 255, 255, 0.1)
    .footer_logo
        margin-top: 42px
    .footer_logo_descr
        margin-left: 20px
        font-weight: 600
        font-size: 16px
        line-height: 16px
        letter-spacing: 1.5px
        color: #FFFFFF
    .footer_round_2
        position: absolute
        bottom: 0px
        left: 145px
    .footer_wrap
        &_item
            a
                font-weight: 400
                font-size: 12px
                line-height: 22px
                letter-spacing: 0.3px
                color: #BBBBBB
                text-decoration: none
            u
                list-style: none
      

                







                






            

    